%div#related_pos
 -@pst_container.each do |k,v|
  %h4#titulo
   =v[:title]
  %h5#date
   =v[:created]
  =javascript_tag "$('#{v[:body]}').inserAfter($('#article')); "
  %h5#article
   =v[:body]










