
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
 %head
  %title
   Blog
  = javascript_include_tag 'jquery', 'jquery_ujs.js'
  = stylesheet_link_tag "bootstrap", :media => 'screen'

 %body
  =yield :body