
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
 %head
  %title
   Blog
  = javascript_include_tag 'jquery', 'jquery_ujs.js', 'jquery.remotipart', 'jquery-ui.js', 'users','wysihtml5-0', 'jquery-1.7.1.min.js', 'ckeditor/ckeditor', 'ckeditor/adapters/jquery'
  = stylesheet_link_tag "bootstrap", :media => 'screen'
  = stylesheet_link_tag "bootstrap-wysihtml5-0.0.2", :media => 'screen'
 %body
  =yield :body